html
{
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

html, body{
    /* width: 100%;
    height: 100%; */
    margin:0;
    padding:0;
}

body
{
    background-color: #F5F7FA;
}


button
{
    font-size: 16px;
    cursor: pointer;
}

/* ==========Login============ */

#main-container
{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 580px;
}

#login-title, #signup-title,
#reset-password-request-title,
#reset-password-confirm-title,
#mfa-title
{
    font-size: 2rem;
}

.login
{
    margin: 2%;
}

#username, #password
{
    width: 70%;
    height: 5%;
    border-radius: 50px;
    background-color: #f3cfff;
    border: none;
    text-align: center;
    font-size: 1rem;
}

#login-error
{
    display: none;
    color: red;
    text-align: center;
}

#other-options
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#login-button, 
#reset-password-request, 
#reset-password-confirm,
#signup,
#mfa-authentication
{
    width: 20%;
    height: 5%;
    border-radius: 50px;
    background-color: orange;
    border: none;
    font-size: 1rem;
}

#login-button:disabled,
#reset-password-request:disabled,
#signup:disabled,
#mfa-authentication:disabled
{
    background-color: #ffda96;
}

#login-button:hover, 
#reset-password-request:hover, 
#reset-password-confirm:hover,
#signup:hover,
#mfa-authentication:hover
{
    background-color: #ffda96;
}

/* ==========Dashboard V2============ */
.navbar
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    row-gap: 10px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 10px;

    width: 100%;
    background-color: white;
    /* border: 1px solid red; */
}

#dashboard-logo-container,
#dashboard-user-profile-container,
#dashboard-app-name-container
{
    width: 33%;
    height: 50%;
    /* border: 1px solid red; */
    /* border: 1px solid black; */
}

#dashboard-buttons-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    order: 1;
    width: 100%;
    height: 2.5rem;
    /* border: 1px solid black; */
}

#dashboard-buttons-container button
{
    width: 25%;
    height: 100%;
    border: none;
    background-color: white;
    font-size: 17px;
}

#dashboard-buttons-container
.dashboard-type-button.active
{
    box-sizing: border-box;
    box-shadow: inset 0 -3px 0 #486ba3;
}

#dashboard-logo-container,
#dashboard-user-profile-container
{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    gap: 10px;
}

#dashboard-user-profile-container
{
    justify-content: end;
}

#dashboard-user-profile-container p
{
    display: none;
}

#dashboard-user-profile-container p:hover,
#dashboard-user-profile-container img:hover
{
    cursor: pointer;
}

#dashboard-app-name-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}
#dashboard-app-name-container p
{
    font-size: 20px;
    color: #486ba3;
    font-weight: bold;
}

#dashboard-logo-container p
{
    display: none;
}

.navbar img
{
    width: 40px;
    height: 40px;
}

/* Cards */

#dashboard-main-container
{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#dashboard-dashboard-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#dashboard-cards-container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    gap: 10px;
    /* border: 1px solid black; */
}

.card
{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    background-color: #f3cfff;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#card-first-container
{
    background-color: #4bb36f;
}
#card-second-container
{
    background-color: #f7665c;
}
#card-third-container
{
    background-color: #4e99cc;
}
#card-forth-container
{
    background-color: #8c63c2;
}

.card p:first-of-type
{
    font-size: 20px;
}

.card p:last-of-type
{
    font-size: 25px;
}

#dashboard-first-two-charts-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#dashboard-expenses-and-incomes-by-month-container
{
    width: 100%;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
}

.savings-by-month-container
{
    width: 100%;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
}

#dashboard-main-container .main-container
{
    display: none;
}

#dashboard-main-container .main-container.active
{
    display: flex;
}

/* ==========Dashboard============ */
/*
#navigation-bar-desktop
{
    display: none;
}

#navigation-bar-mobile
{
    background-color: #486ba3;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    position: sticky;
    height: 10%;
    gap: 10px;
}

#dashoboard-nav-bar-top-section-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

#dashoboard-nav-bar-bottom-section-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 10px;
}

#dashoboard-nav-bar-bottom-section-container button
{
    width: 100%;
    height: 100%;
}

#user-profile
{
    background-image: url("/images/user.png");
    border-radius: 50px;
}

#menu, #user-profile
{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#app-title-mobile
{
    font-size: 20px;
    color: white;
}

#dashboard-main-container
{
    display: flex;
    flex-direction: column;
    margin: 3% 3% 3% 3%;
    gap: 30px;
}

#charts-and-recent-payments-container
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#income-vs-expense-chart-container, 
#recent-payments-container,
#expense-distribution-chart-container
{
    width: 100%;
}

#income-vs-expense-chart-container
{
    border:1px solid #486ba3;
    height: 30vh;
}

#expense-distribution-chart-container
{
    border:1px solid #486ba3;
    height: 30vh;
}

#cards-container
{
    display: flex;
    color: black;
    flex-wrap: wrap;
    gap: 20px;
}
.cards
{
    width: calc(50% - 10px);
    border-radius: 10px;
    color: white;
}
.card-sum
{
    font-size: 2rem;
}
#card-incomes
{
    background-color: #4bb36f;
}
#card-expenses
{
    background-color: #f7665c;
}
#card-savings
{
    background-color: #4e99cc;
}
#card-budget
{
    background-color: #8c63c2;
}
.card-total
{
    display: flex;
}
.cards p
{
    margin: 5% 0% 5% 5%;
}
.cards-title
{
    font-size: 1.3rem;
}

.payments
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #486ba3;
    border-left: 1px solid #486ba3;
    border-right: 1px solid #486ba3;
    padding-left: 10px;
    padding-right: 10px;
}
.payments div
{
    display: flex;
    align-items: center;
    width: 70%;
}
.payments img
{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 3%;
}
.payments p
{
    font-size: 18px;
}
#fifth-recent-payment
{
    border-bottom: 1px solid #486ba3;
}
#see-all-container
{
    border: 1px solid #486ba3;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
#see-all-container h3
{
    text-align: center;
}
*/

/* ==========Forgot Password============ */

#reset-password-request-container,
#reset-password-confirm-container,
#signup-container, #mfa-container
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#signup-success, #reset-success
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#email, #reset-password-new-password, 
#reset-password-confirm-password,
.signup-field, #mfa-code
{
    width: 70%;
    height: 5%;
    border-radius: 50px;
    background-color: #f3cfff;
    border: none;
    text-align: center;
    font-size: 1rem;
}

.message
{
    display: none;
}

#reset-password-request-nok,
#reset-password-confirm-nok,
#signup-nok, #mfa-nok,
#add-payment-nok
{
    color: red;
}

#reset-password-request-ok,
#reset-password-confirm-ok,
#signup-ok, #mfa-ok,
#add-payment-ok
{
    color: #4bb36f;
}

#reset-password-messages,
#signup-failed
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ==========Add Payment============ */
#add-payment-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #F5F7FA;
}

#add-payment-main-container label
{
    color: #34495E;
    font-weight: 510;
    font-size: 18px;
}

#add-payment-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 2px solid #486ba3; */
    border-radius: 10px;
    overflow: hidden;
    height: 75%;
    width: 80%;
    background-color: #FFFFFF;
    min-height: 650px;
}

#payment-properties-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}

#app-name-container, #title-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-name-container
{
    width: 100%;
    height: 9%;
    background-color: #486ba3;
}
#app-name-container #app-name
{
    color: white;
    font-size: 22px;
}

#title-container
{
    width: 90%;
    height: 9%;
    border-bottom: 1px solid #dedede;
}
#title-container #title
{
    font-size: 20px;
    color: #2C3E50;
    font-weight: 501;
}

.payment-property
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-property input, 
.payment-property select
{
    width: 70%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #c4c4c4;
    color: #575656;
    text-align: center;
    font-size: 16px;
    text-align: start;
    flex-basis: 70%;
    padding-left: 10px;
    padding-right: 15px;
}

.payment-property select
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23575656' viewBox='0 0 16 16'%3E%3Cpath d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
    padding-right: 40px;
}

#payment-type-income,
#payment-type-expense
{
    border-radius: 0px;
    border: none;
}

.type-button.active
{
    color: white;
    background-color: #486ba3;
    border: none;
}

.type-button.active:hover
{
    background-color: #6a92d1;
}

.payment-property label
{
    /* border: 1px solid orange; */
    flex-basis: 23%;
}

#payment-type-buttons-container
{
    display: flex;
    width: 70%;
    border-radius: 5px;
    overflow: hidden;
    flex-basis: 75;
    border: 1px solid #c4c4c4;
    flex-basis: 70%;
}

.type-button
{
    width: 50%;
    height: 2.5rem;
}

.required
{
    color: red;
}

#cancel-or-add-container
{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    height: 9%;
    width: 90%;
     /* margin-top: 20px;  */
    border-top: 1px solid #dedede;
}

#add-payment-button, 
#cancel-payment-button
{
    width: 40%;
    height: 70%;
    border-radius: 5px;
    font-size: 1.1rem;
}

#add-payment-button
{
    color: white;
    border: none;
    background-color: orange;
}

#add-payment-button:hover
{
    background-color: #ffda96;
}

#cancel-payment-button
{
    
    border: 1px solid #c4c4c4;
    /* background-color: #f5f5f5; */
}

/* ==========User Profile============ */

#user-profile-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F5F7FA;
    gap: 15px;
    min-height: 800px;
}

#top-bar-container,
#image-container,
.user-information,
.logo-and-info,
#delete-account-container
{
    display: flex;
    align-items: center;
}

#top-bar-container
{
    justify-content: space-between;
    width: 100%;
    height: 6%;
    /* padding-left: 50px; */
    background-color: #486ba3;
    color: white;
}

#top-bar-container > p
{
    font-size: 26px;
}

#top-bar-container img
{
    width: 20px;
    height: 20px;
}

#top-bar-container div
{
    display: flex;
    width: 18%;
    height: 100%;
    align-items: center;
    font-size: 20px;
}

#top-bar-container div:hover
{
    cursor: pointer;
}

#top-bar-container #top-bar-left-container
{
    padding-left: 10px;
    gap: 5px;
}

#top-bar-container #top-bar-right-container
{
    justify-content: end;
    padding-right: 10px;
    gap: 10px;
}

#image-container
{
    width: 100%;
    flex-direction: column;
    gap: 10px;
    height: 15%;
}

#image-container #user-image
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

#image-container button
{
    width: 30%;
    height: 100%;
    border-radius: 20px;
    border: none;
    /* font-weight: bold; */
}

#user-informations-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 40%;
    width: 95%;
}

.user-information
{
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
}

.user-information .logo-and-info
{
    gap: 10px;
}

.user-information img
{
    width: 30px;
    height: 30px;
}

.user-information p
{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-information label
{
    font-weight: bold;
}

#user-informations-container .user-information button,
#log-out-all-button
{
    margin-left: auto;
    width: 15%;
    height: 50%;
    color: #486ba3;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#user-profile-settings-container
{
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    height: calc(30% - 0px);
    width: 95%;
}

#user-profile-mfa-container,
#user-profile-alerts-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mfa-on-off-buttons-container,
#alert-on-off-buttons-container
{
    display: flex;
    align-items: center;
    width: 15%;
    height: 50%;
    border-radius: 5px;
    overflow: hidden;
}

#mfa-on-off-buttons-container button,
#alert-on-off-buttons-container button
{
    width: 50%;
    height: 100%;
    border-radius: 0px;
    border: none;
    font-weight: bold;
}

#mfa-on-off-buttons-container .type-button,
#alert-on-off-buttons-container .type-button
{
    color: #486ba3;
}
#mfa-on-off-buttons-container .type-button.active,
#alert-on-off-buttons-container .type-button.active
{
    color: white;
}

#user-profile-logout-all-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#delete-account-container
{
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#delete-account-button
{
    width: 60%;
    height: 2.5rem;
    color: white;
    background-color: #ff4c4c;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#delete-account-button:hover
{
    background-color: #ff7878;
}

/* ==========Confirm Email============ */
#verify-email-window-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verify-email-main-container
{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

#verify-email-message-ok,
#verify-email-message-nok
{
    color: #4bb36f;
    font-size: 24px;
    color: #2C3E50;
}

#verify-email-message-ok
{
    color: #4bb36f;
}
#verify-email-message-nok
{
    color: red;
}

/* ==========Edit Email============ */
#edit-email-window-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#edit-email-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid #ff7878; */
    gap: 20px;
}

#edit-email-top-container,
#edit-email-middle-container,
#edit-email-bottom-container
{
    display: flex;
    /* border: 1px solid #ff7878; */
    width: 95%;
}

#edit-email-top-container
{
    align-items: center;
    justify-content: center;
    height: 7%;
    border-bottom: 1px solid #d4d3d3;
}

#edit-email-middle-container
{
    flex-direction: column;
    gap: 15px;
    height: 35%;
}

#edit-email-middle-container div
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

#edit-email-middle-container input
{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #d4d3d3;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

#edit-email-middle-container #edit-email-warning-container
{
    flex-direction: row;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    height: 70%;
}

#edit-email-warning-container img
{
    width: 30px;
    height: 30px;
}

#edit-email-warning-container p span
{
    font-weight: bold;
    color: #2C3E50;
}

#edit-email-warning-container p
{
    color: #5e5d5d;
}

#edit-email-bottom-container
{
    justify-content: center;
    align-items: center;
    height: 8%;
    gap: 10px;
    border-top: 1px solid #d4d3d3;
}

#edit-email-top-container label
{
    font-size: 2rem;
}

#edit-email-middle-container label
{
    font-weight: bold;
    color: #2C3E50;
}

#edit-email-bottom-container button
{
    height: 60%;
    width: 33%;
    border: none;
    border-radius: 10px;
}

#email-edit-save-button
{
    background-color: orange;
}
#email-edit-save-button:hover
{
    background-color: #ffda96;
}

#edit-email-message-container
{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center; 
    /* border: 1px solid #ff7878; */
    width: 95%;
    height: 5%;
} 

#edit-email-message-nok
{
    color: red;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    /* border: 1px solid black; */
}

#edit-email-message-ok
{
    color: #4bb36f;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

/* ==========Edit Fullname============ */
#edit-fullname-window-container,
#change-budget-window-container,
#change-savings-goal-window-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#edit-fullname-main-container,
#change-budget-main-container,
#change-savings-goal-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid #ff7878; */
    gap: 20px;
}

#edit-fullname-top-container,
#edit-fullname-middle-container,
#edit-fullname-bottom-container,
#change-budget-top-container,
#change-budget-middle-container,
#change-budget-bottom-container,
#change-savings-goal-top-container,
#change-savings-goal-middle-container,
#change-savings-goal-bottom-container
{
    display: flex;
    /* border: 1px solid #ff7878; */
    width: 95%;
}

#edit-fullname-top-container,
#change-budget-top-container,
#change-savings-goal-top-container
{
    align-items: center;
    justify-content: center;
    height: 7%;
    border-bottom: 1px solid #d4d3d3;
}

#edit-fullname-middle-container,
#change-budget-middle-container,
#change-savings-goal-middle-container
{
    flex-direction: column;
    gap: 15px;
    height: 20%;
}

#edit-fullname-middle-container div,
#change-budget-middle-container div,
#change-savings-goal-middle-container div
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

#edit-fullname-middle-container input,
#change-budget-middle-container input,
#change-savings-goal-middle-container input
{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #d4d3d3;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

#edit-fullname-bottom-container,
#change-budget-bottom-container,
#change-savings-goal-bottom-container
{
    justify-content: center;
    align-items: center;
    height: 8%;
    gap: 10px;
    border-top: 1px solid #d4d3d3;
}

#edit-fullname-top-container label,
#change-budget-top-container label,
#change-savings-goal-top-container label
{
    font-size: 2rem;
}

#edit-fullname-middle-container label,
#change-budget-middle-container label,
#change-savings-goal-middle-container label
{
    font-weight: bold;
    color: #2C3E50;
}

#edit-fullname-bottom-container button,
#change-budget-bottom-container button,
#change-savings-goal-bottom-container button
{
    height: 60%;
    width: 33%;
    border: none;
    border-radius: 10px;
}

#fullname-edit-save-button,
#change-budget-save-button,
#change-savings-goal-save-button
{
    background-color: orange;
}
#fullname-edit-save-button:hover,
#change-budget-save-button:hover,
#change-savings-goal-save-button:hover
{
    background-color: #ffda96;
}

#edit-fullname-message-container,
#change-budget-message-container,
#change-savings-goal-message-container
{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center; 
    /* border: 1px solid #ff7878; */
    width: 95%;
    height: 5%;
} 

#edit-fullname-message-nok,
#change-budget-message-nok,
#change-savings-goal-message-nok
{
    color: red;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    /* border: 1px solid black; */
}

#edit-fullname-message-ok,
#change-budget-message-ok,
#change-savings-goal-message-ok
{
    color: #4bb36f;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

/* ==========Edit Username============ */
#edit-username-window-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#edit-username-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid #ff7878; */
    gap: 20px;
}

#edit-username-top-container,
#edit-username-middle-container,
#edit-username-bottom-container
{
    display: flex;
    /* border: 1px solid #ff7878; */
    width: 95%;
}

#edit-username-top-container
{
    align-items: center;
    justify-content: center;
    height: 7%;
    border-bottom: 1px solid #d4d3d3;
}

#edit-username-middle-container
{
    flex-direction: column;
    gap: 15px;
    height: 20%;
}

#edit-username-middle-container div
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

#edit-username-middle-container input
{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #d4d3d3;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

#edit-username-bottom-container
{
    justify-content: center;
    align-items: center;
    height: 8%;
    gap: 10px;
    border-top: 1px solid #d4d3d3;
}

#edit-username-top-container label
{
    font-size: 2rem;
}

#edit-username-middle-container label
{
    font-weight: bold;
    color: #2C3E50;
}

#edit-username-bottom-container button
{
    height: 60%;
    width: 33%;
    border: none;
    border-radius: 10px;
}

#username-edit-save-button
{
    background-color: orange;
}
#username-edit-save-button:hover
{
    background-color: #ffda96;
}

#edit-username-message-container
{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center; 
    /* border: 1px solid #ff7878; */
    width: 95%;
    height: 5%;
} 

#edit-username-message-nok
{
    color: red;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    /* border: 1px solid black; */
}

#edit-username-message-ok
{
    color: #4bb36f;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

/* ==========Edit Password============ */
#edit-password-window-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#edit-password-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid #ff7878; */
    gap: 20px;
}

#edit-password-top-container,
#edit-password-middle-container,
#edit-password-bottom-container
{
    display: flex;
    /* border: 1px solid #ff7878; */
    width: 95%;
}

#edit-password-top-container
{
    align-items: center;
    justify-content: center;
    height: 7%;
    border-bottom: 1px solid #d4d3d3;
}

#edit-password-middle-container
{
    flex-direction: column;
    gap: 15px;
    height: 28%;
}

#edit-password-middle-container div
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

#edit-password-middle-container input
{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #d4d3d3;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

#edit-password-bottom-container
{
    justify-content: center;
    align-items: center;
    height: 8%;
    gap: 10px;
    border-top: 1px solid #d4d3d3;
}

#edit-password-top-container label
{
    font-size: 2rem;
}

#edit-password-middle-container label
{
    font-weight: bold;
    color: #2C3E50;
}

#edit-password-bottom-container button
{
    height: 60%;
    width: 33%;
    border: none;
    border-radius: 10px;
}

#password-edit-save-button
{
    background-color: orange;
}
#password-edit-save-button:hover
{
    background-color: #ffda96;
}

#edit-password-message-container
{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center; 
    /* border: 1px solid #ff7878; */
    width: 95%;
    height: 5%;
} 

#edit-password-message-nok
{
    color: red;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    /* border: 1px solid black; */
}

#edit-password-message-ok
{
    color: #4bb36f;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

/* ==========Delete account============ */
#delete-account-window-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#delete-account-main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    /* border: 1px solid #ff7878; */
    gap: 20px;
}

#delete-account-main-container p,
#delete-account-main-container div
{
    width: 90%;
}

#delete-account-main-container p
{
    text-align: center;
    font-size: 20px;
    color: #ff7878;
}

#delete-account-main-container input
{
    width: 90%;
    height: 7%;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #dedede;
}

#delete-account-main-container div
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 6%;
}

#delete-account-main-container button
{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

#delete-account-cancel-button
{
    color:#486ba3;
}

#delete-account-delete-button
{
    color: #ff0000b7;
}

/* ==========Payments============ */
#payments-main-container
{
    display:flex;
    flex-direction:column;
    background:#F5F7FA;
    padding:5px;
    padding-top:0px;
    min-height:100vh;
    min-width: 630px;
}

#payments-main-container select,
#payments-main-container 
.payment-card-container 
.payment-informations-container
{
    background-color: white;
}

#payments-top-bar
{
    height: 6%;
    background-color: #486ba3;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    position: sticky;
    top: 0;
    z-index: 100;
}

#payments-top-bar img
{
    height: 60%;
}

#payments-top-bar button
{
    height: 100%;
    width: 12%;
    font-size: 20px;
    text-align: left;
    color: white;
    background-color: transparent;
    border: none;
}

#payments-top-bar p
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 26px;
}

#payments-add-and-filters-container
{
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
    height: 5vh;
    margin-bottom: 15px;
}

#payments-add-and-filters-container 
#payments-add-payment-button
{
    height: 100%;
    width: 8%;
    /* border: 1px solid #ff7878; */
}

#payments-filters-container
{
    /* border: 1px solid orange; */
    display: flex;
    gap: 10px;
    height: 100%;
    width: 92%;
    box-sizing: border-box;
}

#payments-filters-container select,
#payments-add-and-filters-container 
#payments-sort-by-select
{
    /* width: 25%; */
    height: 100%;
    font-size: 16px;
    /* border: 1px solid gray; */
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    color: #486ba3;
    font-weight: bold;
    background-color: #e7e9eb;
}

/* #payments-sort-by-select
{
    margin-left: 15px;
} */

#payments-container
{
    display:flex;
    flex-direction:column;
    gap: 15px;
}

.payment-card-container
{
    display: flex;
    gap: 10px;
    border-radius: 10px;
    /* border: 1px solid #ff7878; */
}

.payments-edit-and-delete-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 8%;

    /* border: 1px solid #4bb36f; */
}

.payments-edit-and-delete-container button
{
    width: 100%;
    height: 30%;
    /* border: 1px solid magenta; */
}

.payment-informations-container
{
    border-radius: 5px;
    width: 92%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.payment-card-top-section-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-card-middle-section-container
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    /* border: 1px solid #ff7878; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-card-bottom-note
{
    font-weight: normal;
    line-height: 1.5;
    text-align: justify;
}

.payment-informations-container,
.payment-card-bottom-note span
{
    font-weight: bold;
}

.payment-card-value
{
    font-size: 20px;
}

.payment-card-payment-method,
.payment-card-marchant,
.payment-card-bottom-note span
{
    /* font-weight: bold; */
    color:#34495E;
}

.payment-card-edit-button,
.payment-card-delete-button,
#payments-add-payment-button
{
    background-color: transparent;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
}

.payment-card-time-and-category-container p
{
    color:#34495E;
}

.payment-card-edit-button
{
    background-image: url("/images/payments/edit.png");
}

.payment-card-delete-button
{
    background-image: url("/images/payments/delete.png");
}

#payments-add-payment-button
{
    background-image: url("/images/payments/add-2.png");
}

/* ==========Statistics============ */
#statistics-main-container
{
    width: 100%;

    background-color: #F5F7FA;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;                   

    padding-bottom: 15px;
    /* border: 1px solid #ff7878; */
}

#statistics-main-container h3
{
    font-size: 20px;
}

#statistics-main-container #payments-top-bar
{
    box-sizing: border-box;
    width: 100%;
    height: 6vh;
}

#statistics-buttons-container
{
    height: 5vh;
    width: 100%;
    
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding-left: 10px;
    padding-right: 10px;

    /* border: 1px solid black; */
}

#statistics-buttons-container button
{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #486ba3;
    font-weight: bold;
    font-size: 18px;
}


                                    /* Expenses Main Container */
#statistics-expenses-main-container,
#statistics-incomes-main-container,
#statistics-cashflow-main-container,
#statistics-savings-main-container,
#statistics-budget-main-container
{
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid #ff7878; */
}

.mini-container
{
    /* margin: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.normal-container
{
    /* margin: 10px; */             /* margin: 10px; */         
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid black; */
    background-color: white;
}

.normal-container div
{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #ff7878; */
}

#statistics-expenses-recurring-payments-container div
{
    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid orange; */
}

#statistics-expenses-highest-expense-date-container p,
#statistics-incomes-highest-income-date-container p
{
    font-weight: bold;
}

#statistics-expenses-highest-expense-date-container div,
#statistics-incomes-highest-income-date-container div
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.all-columns-container div p:first-of-type,
#statistics-expenses-highest-expense-date-container,
#statistics-expenses-forecast-next-month-container span,
#statistics-expenses-total-container span,
#statistics-expenses-average-container span
{
    color: #ff7878;
    font-weight: bold;
}

.all-columns-container
{
    display: flex;
}

.all-columns-container div
{
    display: flex;
    flex-direction: column;
}

#statistics-expenses-ring-charts-container,
#statistics-expenses-total-per-month-container
{
    margin: 0px;                /* border: 1px solid #ff7878; */
    background-color: white;
}

.normal-container h3
{
    text-align: center;
    /* border: 1px solid #ff7878; */
}

.normal-container .all-columns-container div
{
    display: flex;
    /* border: 1px solid #ff7878; */
    flex-direction: column;
    align-items: center;
    width: 20%;
}

#statistics-expenses-main-container div
{
    border-radius: 5px;
}

                            /* Incomes Main Container */

#statistics-incomes-highest-income-date-container,
#statistics-incomes-total-container span,
#statistics-incomes-average-container span,
#statistics-incomes-forecast-next-month-container span
{
    font-weight: bold;
    color: #4bb36f;
}

#statistics-expenses-total-per-month-container,
#statistics-incomes-total-per-month-container,
#statistics-incomes-average-per-month-container,
#statistics-cashflow-main-container div,
#statistics-savings-total-per-month-container,
#statistics-budget-left-per-month-container
{
    height: 30vh;
    background-color: white;
}

                        /* Savings Main Container */
#statistics-savings-main-container
{
    height: 100vh;
}

#statistics-savings-total-per-month-container,
#statistics-budget-left-per-month-container,
.progress-bar-container
{
    border-radius: 5px;
}

.progress-bar-container 
{
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.progress-bar-container .bar-container
{
    height: 40%;
    width: 100%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar-container #savings-progress,
.progress-bar-container #budget-left
{
    height: 100%;
    width: 0%; /* valoarea inițială */
    background-color: #4bb36f;
    /* transition: width 0.3s ease; */
}

.progress-bar-container #savings-goal,
.progress-bar-container #expenses
{
    height: 100%;
    width: 0%; /* valoarea inițială */
    background-color: #ff7878;
    /* transition: width 0.3s ease; */
}

#statistics-savings-main-container h3
{
    width: 30%;
    /* border: 1px solid #ff7878; */
}

.progress-bar-container .labels-container
{
    display: flex;
    justify-content: space-between;
}

.progress-bar-container #savings-label,
.progress-bar-container #budget-label
{
    text-align: left;
    color: #4bb36f;
}

.progress-bar-container .progress-label
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #486ba3;
}

.progress-label #savings-value,
.progress-bar-container #budget-value
{
    color:#4bb36f;
}

.progress-label #goal-value,
.labels-container #expenses-label,
.progress-bar-container #expenses-value
{
    color:#ff7878;
}

.progress-bar-container #goal-label
{
    text-align: right;
    color: #ff7878;
}

                    /* Budget Main Container */
#statistics-budget-main-container
{
    height: 100vh;
}

.progress-bar-container span
{
    font-weight: bold;
}


                                    /* Commons */
#statistics-buttons-container .type-button.active
{
    color: white;
}

#statistics-expenses-main-container h3,
#statistics-incomes-main-container h3,
#statistics-savings-main-container h3
{
    color:#486ba3;
    /* border-bottom: 1px solid black; */
}

.informations-container 
{
    display: none;
}

.informations-container.active 
{
    display: flex;
}


/*  Budget and Savings  */
#budget-and-savings-main-container
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.budget-and-savings-secondary-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32vh;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

#budget-settings-top-container,
#savings-settings-top-container
{
    height: 80%;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-bottom: 20px; */
}

.budget-and-savings-secondary-container > p:first-of-type
{
    font-size: 20px;
}

#budget-left-bar-container,
#saving-progress-bar-container
{
    display: flex;
    height: 10%;
    /* border: 1px solid red; */
    border-radius: 5px;
    overflow: hidden;
}

#budget-left-fill,
#saved-fill
{
    width: 0%;
    height: 100%;
    background-color:#4bb36f;
}

#saving-left-fill,
#budget-spent-fill
{
    width: 0%;
    height: 100%;
    background-color:#ff7878;
}

#budget-remaining,
#saved-value
{
    color: #4bb36f;
}
#saving-remaining,
#budget-spent
{
    color:#ff7878;
}

.budget-and-savings-secondary-container p
{
    font-size: 20px;
}

.budget-and-savings-secondary-container span
{
    font-size: 22px;
}

.change-settings-bottom-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid rgb(221, 221, 221); */
    height: 20%;
    background-color: #ecf3fd;
}

.change-settings-bottom-container button
{
    width: 30%;
    height: 70%;
    background-color: #486ba3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.change-settings-bottom-container button:hover
{
    background-color: #6a92d1;
}

#budget-settings-title,
#savings-settings-title
{
    font-weight: bold;
}


@media (min-width: 900px)
{
    #add-payment-container  
    {
        width: 60%;
    }
}

@media (min-width: 1200px)
{
    /* ==========Login============ */
    #username, #password, #other-options,
    #email, #reset-password-new-password,
    #reset-password-confirm-password,
    .signup-field, #mfa-code
    {
        width: 30%;
    }

    #login-button, #reset-password-request,
    #reset-password-confirm, #signup, 
    #mfa-authentication
    {
        width: 10%;
    }

    .login
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 10%;
        margin-left: 10%;
    }


    /* ==========Dashboard V2============ */
    .navbar
    {
        height: 7%;
        padding-top: 0;
    }
    
    #dashboard-app-name-container
    {
        display: none;
    }

    #dashboard-logo-container,
    #dashboard-user-profile-container
    {
        width: 20%;
        height: 100%;
        /* border: 1px solid red; */
    }

    #dashboard-user-profile-container p
    {
        display: block;
        font-size: 20px;
    }

    #dashboard-buttons-container
    {
        order: 0;
        width: 40%;
        height: 100%;
        gap: 20px;
        /* border: 1px solid red; */
    }

    #dashboard-buttons-container button
    {
        height: 100%;
        background-color: white;
        font-size: 18px;
    }

    #dashboard-buttons-container
    .dashboard-type-button.active
    {
        box-sizing: border-box;
        box-shadow: inset 0 -3px 0 #486ba3;
    }

    #dashboard-logo-container p
    {
        display: block;
        font-size: 20px;
    }

    #dashboard-logo-container
    {
        gap: 10px;
    }

    #dashboard-cards-container
    {
        height: 15vh;
    }

    .card
    {
        width: calc(25% - 8px);
        height: 100%;
    }

    #dashboard-expenses-and-incomes-by-month-container,
    #dashboard-first-two-charts-container 
    .savings-by-month-container
    {
        width: calc(50% - 6px);
        height: 45vh;
    }

    #dashboard-first-two-charts-container
    {
        flex-direction: row;
    }

    /* ==========Dashboard============ */
/*     
    #navigation-bar-mobile
    {
        display: none;
    }

    #navigation-bar-desktop
    {
        display: flex;
        align-items: center;
        background-color: #486ba3;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 3%;
        padding-right: 3%;
        top: 0;
        position: sticky;
    }

    #nav-left-section
    {
        display: flex;
        align-items: center;
    }

    #app-logo, #user-image
    {
        width: 40px;
        height: 40px;
    }

    #app-logo
    {
        margin-right: 10px;
    }

    #app-title, #user-profile-button
    {
        font-size: 20px;
        color: white;
    }

    #nav-middle-section
    {
        width: 65%;
        display: flex;
        justify-content: space-around;
    }

    .nav-middle-button
    {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 20%;
        height: 3rem;
        border: none;
        border-radius: 10px;
    }

    #nav-right-section
    {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: none;
        padding: 0;
        height: 100%;
    }

    #user-profile-button
    {
        height: 100%;
        border: none;
        padding-left: 10px;
        background-color: transparent;
        text-decoration: underline;
    }

    #user-image
    {
        border-radius: 50px;
    }

    #dashboard-main-container
    {
        min-width: 1320px;
    }

    #recent-payments-container
    {
        min-width: 370px;
    }

    #cards-container
    {
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 0px;
    }

    .card-sum
    {
        font-size: 3rem;
    }

    #charts-and-recent-payments-container
    {
        flex-direction: row;
        gap: 20px;
        height: 50%;
        width: 100%;
    }

    #recent-payments-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #income-vs-expense-chart-container,
    #recent-payments-container, 
    #expense-distribution-chart-container
    {
        width: calc(100%/3);
        height: 400px;
    }

    #income-vs-expense-chart-container,
    #recent-payments-container
    {
        border: 1px solid #486ba3; 
        border-radius: 10px;
    }

    #income-vs-expense-chart-container
    {
        flex-basis: 50%;
    }

    #recent-payments-container
    {
        padding-left: 10px;
        padding-right: 10px;
        flex-basis: 25%;
    }

    #expense-distribution-chart-container
    {
        margin-top: 0;
        border-radius: 10px;
        flex-basis: 25%;
    }

    #expensesChart, #expense-vs-income-chart
    {
        height: 100%;
    }


    .payments, #see-all-container
    {
        border: none;
        border-bottom: 1px solid #486ba3;
    }

    #see-all-container, #fifth-recent-payment
    {
        border-top: none;
    }

    #fifth-recent-payment
    {
        border-bottom: none;
    } */

    /* ==========Add Payment============ */
    #add-payment-container
    {
        width: 30%;
    }

    /* ==========User Profile============ */
    #top-bar-container #top-bar-left-container
    {
        margin-left: 25%;
        padding-left: 0px;
    }

    #top-bar-container #top-bar-right-container
    {
        margin-right: 25%;
        padding-right: 0px;
    }
    
    #top-bar-container div
    {
        width: 6%;
    }

    #image-container
    {
        height: 16%;
    }

    #image-container button
    {
        width: 10%;
    }

    #user-informations-container
    {
        width: 50%;
    }

    .user-information
    {
        padding-left: 30px;
        gap: 50px;
    }

    .user-information p 
    {
        max-width: 480px;
    }

    #user-email-container
    {
        gap: 84px;
    }

    #mfa-on-off-buttons-container,
    #alert-on-off-buttons-container
    {
        width: 15%;
    }

    #delete-account-container,
    #user-profile-settings-container
    {
        width: 50%;
    }

    /* ==Edit Email, Fullname, Username, Password,
        Delete== */
    #edit-email-main-container,
    #edit-fullname-main-container,
    #edit-username-main-container,
    #edit-password-main-container,
    #delete-account-main-container,
    #change-budget-main-container,
    #change-savings-goal-main-container
    {
        width: 40%;
        height: 100%;
        /* border: 1px solid #ff7878; */
    }
   
    /* ==========Payments============ */
    #payments-main-container
    {
        align-items: center;
    }

    #payments-container,
    #payments-add-and-filters-container
    {
        width: 50%;
    }

    #payments-filters-container select
    {
        width: 20%;
    }

    .payments-edit-and-delete-container,
    #payments-add-and-filters-container
    #payments-add-payment-button
    {
        width: 5%;
    }

    #payments-top-bar
    {
        padding-left: 25.1%;
    }

    #payments-top-bar button
    {
        width: 7%;
    }

    /* ==========Statistics============ */

    #statistics-expenses-main-container,
    #statistics-incomes-main-container,
    #statistics-cashflow-main-container,
    #statistics-savings-main-container,
    #statistics-budget-main-container,
    #statistics-buttons-container
    {
        width: 50%;
    }

    #statistics-expenses-ring-charts-container
    {
        display: flex;
        flex-wrap: wrap;
    }

    #statistics-expenses-ring-charts-container div
    {
        width: 50%;
    }

    #statistics-expenses-total-per-month-container,
    #statistics-incomes-total-per-month-container,
    #statistics-incomes-average-per-month-container,
    #statistics-cashflow-main-container div,
    #statistics-savings-total-per-month-container,
    #statistics-budget-left-per-month-container
    {
        height: 40vh;
    }

    #budget-and-savings-main-container
    {
        align-items: center;
        width: 100%;
        /* border: 1px solid red; */
        padding: 0;
    }

    .budget-and-savings-secondary-container
    {
        width: 50%;
        height: 33%;
    }

}
