html
{
    font-size: 16px;
    font-family: "Roboto Slab", serif;
}

body
{
    margin: 0;
}

button
{
    font-size: 16px;
    cursor: pointer;
}

/* ==========Login============ */

#main-container
{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 580px;
}

#login-title
{
    font-size: 2rem;
}

.login
{
    margin: 2%;
}

#username, #password
{
    width: 70%;
    height: 5%;
    border-radius: 50px;
    background-color: #f3cfff;
    border: none;
    text-align: center;
    font-size: 1rem;
}

#login-error
{
    display: none;
    color: red;
    text-align: center;
}

#other-options
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#login-button, 
#reset-password-request, 
#reset-password-confirm
{
    width: 20%;
    height: 5%;
    border-radius: 50px;
    background-color: orange;
    border: none;
    font-size: 1rem;
}

#login-button:disabled,
#reset-password-request:disabled
{
    background-color: #ffda96;
}


#login-button:hover, 
#reset-password-request:hover, 
#reset-password-confirm:hover
{
    background-color: #ffda96;
}

/* ==========Dashboard============ */

#navigation-bar-desktop
{
    display: none;
}

#navigation-bar-mobile
{
    background-color: #486ba3;
    display: flex;
    width: 94%;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    top: 0;
    position: sticky;
}

#menu
{
    background-image: url("./images/menu.png");
}

#profile
{
    background-image: url("./images/image-with-me.jpg");
    border-radius: 50px;
}

#menu, #profile
{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#app-title-mobile
{
    font-size: 20px;
    color: white;
}

#dashboard-main-container
{
    margin: 3% 3% 3% 3%;
}

#cards-container
{
    display: flex;
    color: black;
    flex-wrap: wrap;
    gap: 20px;
}

.cards
{
    width: calc(50% - 10px);
    border-radius: 10px;
    color: white;
}

.card-sum
{
    font-size: 3rem;
}

#card-incomes
{
    background-color: #4bb36f;
}
#card-expenses
{
    background-color: #f7665c;
}
#card-savings
{
    background-color: #4e99cc;
}
#card-budget
{
    background-color: #8c63c2;
}

.card-total
{
    display: flex;
}

.cards p
{
    margin: 5% 0% 5% 5%;
}

.cards-title
{
    font-size: 1.3rem;
}

#chart-and-recent-payments-container,
#recent-payments
{
    margin-top: 20px;
}

#chart-container, #recent-payments
{
    width: 100%;
}

.payments
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #486ba3;
}

.payments div
{
    display: flex;
    align-items: center;
    width: 70%;
}

.payments img
{
    width: 30px;
    height: 30px;
    margin-right: 3%;
}

.payments p
{
    font-size: 20px;
}

#sixth-recent-payment
{
    border-bottom: 1px solid #486ba3;
}

#see-all-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #486ba3;
    border-top: 1px solid #486ba3;
    font-size: 20px;
}

#see-all
{
    width: 20%;
    height: 2rem;
    background-color: #4e99cc;
    color: white;
    border: none;
    border-radius: 5px;
}

#center-button
{
    display: flex;
    justify-content: center;
    height: 3rem;
    /* border: 1px solid black; */
    padding: 20px;
}

#add-payment
{
    background-color: #4e99cc;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 100%;
}

/* ==========Forgot Password============ */

#reset-password-request-container,
#reset-password-confirm-container,
#ok-message-container
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#email, #reset-password-new-password, 
#reset-password-confirm-password
{
    width: 70%;
    height: 5%;
    border-radius: 50px;
    background-color: #f3cfff;
    border: none;
    text-align: center;
    font-size: 1rem;
}

.message
{
    display: none;
}

#reset-password-request-nok,
#reset-password-confirm-nok
{
    color: red;
}

#reset-password-request-ok,
#reset-password-confirm-ok
{
    color: green;
}

#reset-password-messages
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #reset-password-request, #reset-password-confirm
{
    width: 30%;
    height: 5%;
    border-radius: 50px;
    background-color: orange;
    border: none;
    font-size: 1rem;
} */

#reset-password:hover
{
    background-color: #ffda96;
}


@media (min-width: 992px)
{
    /* ==========Login============ */
    #username, #password, #other-options,
    #email, #reset-password-new-password,
    #reset-password-confirm-password
    {
        width: 30%;
    }

    #login-button, #reset-password-request,
    #reset-password-confirm
    {
        width: 10%;
    }

    .login
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 10%;
        margin-left: 10%;
    }

    /* ==========Dashboard============ */
    #dashboard-main-container
    {
        margin: 2% 3% 2% 3%;
    }

    #navigation-bar-mobile
    {
        display: none;
    }

    #navigation-bar-desktop
    {
        display: flex;
        align-items: center;
        background-color: #486ba3;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 3%;
        padding-right: 3%;
        top: 0;
        position: sticky;
    }

    #nav-left-section
    {
        display: flex;
        align-items: center;
    }

    #app-logo, #user-image
    {
        width: 40px;
        height: 40px;
    }

    #app-logo
    {
        margin-right: 10px;
    }

    #app-title
    {
        font-size: 20px;
        color: white;
    }

    #nav-middle-section
    {
        width: 65%;
        display: flex;
        justify-content: space-around;
    }

    .nav-middle-button
    {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 20%;
        height: 3rem;
        border: none;
        border-radius: 10px;
    }

    #nav-right-section
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #user-image
    {
        border-radius: 50px;
        margin-right: 10px;
    }
    #user-name
    {
        color: white;
    }

    #cards-container
    {
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 0px;
    }

    #chart-and-recent-payments-container
    {
        display: flex;
        align-items: stretch;
        /* border: 1px solid black; */
        /* justify-content: space-between; */
        gap: 20px;
        margin-top: 40px;
    }

    #chart-container, #recent-payments
    {
        border: 1px solid #486ba3; 
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }

    #see-all-container
    {
        border-top: none;
    }

    #sixth-recent-payment
    {
        border-bottom: none;
    }

    #add-payment
    {
        margin-top: 20px;
    }
}